body {
color:#000000;
background-color:#FFFFFF;
background-attachment:fixed;
font-family: 'helvetica';
font-size:24pt;
}

.content {
  width:400px;
  background-color: #FFFFFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

a {
  color:#AFAFAF;
  text-decoration:none;
}

h1 {
  font-family: 'helvetica';
  font-size: 60pt;
  letter-spacing:-10px;
  text-transform:lowercase;
  color:#AFAFAF;
}
