body {
color:#000000;
background-color:#FFFFFF;
background-attachment:fixed;
font-family: 'Open Sans', georgia, serif;
font-size:12pt;
}

.content {
  width:400px;
  background-color: #FFFFFF;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}

a {
  color:#9F9F9F;
  text-decoration:none;
}

h1 {
  font-family: 'Lobster', 'Open Sans', georgia, serif;
  font-size: 60pt;
  line-height:40px;
  letter-spacing:0px;
  text-transform:lowercase;
  color:#AFAFAF;
}
