body {
color:#000000;
background-color:#ffffff;
background-attachment:fixed;
font-family: 'helvetica';
font-size:12px;
}

.content {
  width:400px;
  background-color: #00FF00;
  margin-left:auto;
  margin-right:auto;
}

.h1 {
  font-family: 'helvetica';
  letter-spacing:20px;
  color:#efefef;
}
